body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #e8e6e7;
  font-size: 18px;
  font-family: Helvetica, Arial, Sans-Serif;
}
body, a:link, a:visited, a:active{
  color: black;
}
.title, .addDancerButton{
  padding:5px 12px;
  margin: auto;
}
.topbar{
  height:32px;
}
.title{
}
.dot{
  border-style: solid;
  border-width: 30px;
  border-radius: 30px;
  position: absolute;
}
